<p id="notice"><%= notice %></p>
<% if session[:logged_in_teacher] %>
  <p>
    <strong>Student:</strong>
    <%= @teacher.student_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @teacher.email %>
  </p>


  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
  <%= link_to 'Back', teachers_path %>
<% else %>

  You must log in to view this page.

<% end %>
